/**
!/bin/**
!/cmake/**
!/etc/**
!/include/**
!/media/**
!/resources/**
!/sql/**
!/src/**
!/test/**
!/.idea/**
!.gitignore
!.CMakeLists.txt
!COPYING
!Doxyfile
!README.md
!TO_DO.md
!uid_fix_concept.md
