/**
!/bin/
!/bin/**
!/cmake/
!/cmake/**
!/docs/
!/docs/**
!/etc/
!/etc/**
!/include/
!/include/**
!/media/
!/media/**
!/resources/
!/resources/**
!/sql/
!/sql/**
!/src/
!/src/**
!/test/
!/test/**
!/tools/
!/tools/**
!/.idea/
!/.idea/**
!.gitignore
!/CMakeLists.txt
!COPYING
!Doxyfile
!README.md
!TO_DO.md
!uid_fix_concept.md
